:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: "Poppins", sans-serif;
  --font-accent: "Playfair Display", serif;
  --font-ralway: "Raleway", sans-serif;

  --wh: #f1f0fc;
  --dark: #202020;
  --gr: #c1c1c1;
  --accent: #ffdf00;
  --num: rgba(255, 223, 0, 0.8);
  --title: rgba(193, 193, 193, 0.8);

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: var(--font-ralway);
}

.title-block {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;

  padding-bottom: 5px;
  font-family: var(--font-accent);

  span {
    font-size: 19px;
  }
}

.delimiter {
  text-align: center;
  padding: 10px;
    background: var(--dark);
  font-family: var(--font-ralway);
  color: var(--wh);

  span {
    font-size: 13px;
  }
}

%scroll-hidden {
  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

%shed {
  box-shadow:
    0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400;1,600&display=swap");
