.footer {
  &__icons-inner {
    background-color: var(--dark);
    padding: 20px 0;
    font-size: 32px;
    color: var(--wh);
  }

  .icons {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .icon {
    padding: 10px;
    background: var(--wh);
    text-align: center;
    border-radius: 15px;
  }

}