.footer {
  background-color: #000;
  padding: 20px 0;
  font-size: 32px;
  color: #fff;

  .icons {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .icon {
    padding: 10px;
    background: #fff;
    text-align: center;
    border-radius: 15px;
  }

}