.header {
  background-color: var(--dark);
  color: var(--wh);
  padding: 10px 0;

  &__buttons-wr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__link-news {
    color: var(--dark);
    background: var(--wh);
    padding: 7px 10px;
    border-radius: 10px;
    // margin-left: 10px;
  }

  &__icon {
    width: 32px;
    padding: 5px;
    background: var(--wh);
    text-align: center;
    border-radius: 10px;
  }


}

// .buttons_wr {

//   button+button {
//     margin-left: 20px;
//   }
// }