.header {
  background-color: #000;
  color: #fff;
  padding: 10px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__icon {
    width: 40px;
    padding: 5px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
  }


}

// .buttons_wr {

//   button+button {
//     margin-left: 20px;
//   }
// }