.border-top {
  position: absolute;
  // border-top: 5px solid #000;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 20px 0;
  width: 100%;
  top: 345px;
  background: #fff;
}

.list-menu {
  padding: 30px 0 50px;


  &__items {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  &__item a {
    padding: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 500;
    letter-spacing: 3.2px;
    font-size: 24px;
  }
}