.logo {
  font-size: 24px;
  font-family: var(--font-ralway);
  font-weight: 600;
  position: relative;
  /* padding-bottom: 3px; */
  /* line-height: 30px; */
  &::before {
    content: "restaurants Moscow";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 8px;
    text-align: center;
    /* color: var(--accent); */
    /* width: 100px; */
  }
}
