.navigation {
  padding-top: 25px;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: hidden;
  padding-bottom: 10px;
  gap: 10px;
  font-family: var(--font-ralway);

  @extend %scroll-hidden;


  &__icon {
    min-width: 40px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {

    min-width: 90px;
    height: 50px;
    padding: 10px 20px;

    // background: var(--gr);
    // border-radius: 15px;
    font-weight: 500;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__btn img {
    width: 20px;
    height: 20px;
    // object-fit: cover;
    // width: 100%;
  }
}