.news {

  padding-top: 10px;
  margin-bottom: 40px;


  &__items {

    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: hidden;
    padding-bottom: 10px;

    @extend %scroll-hidden;
  }

  &__item img {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
    filter: brightness(0.8);
  }

  &__item {
    min-width: 250px;

    margin-right: 20px;
    // padding: 10px 20px;

    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;

  }
}